.admin__page-nav._collapsed {
    &.loki-tab {
        .title {
            background-image: url("../Loki_Base/images/loki-orange.svg");
            background-position: 15px center;
            background-repeat: no-repeat;
            background-size: 20px auto;
            padding-left: 5.2rem;
        }
    }

    &.loki-tab._show {
        .title {
            background-image: url("../Loki_Base/images/loki-black.svg");
            background-position: 15px center;
            background-repeat: no-repeat;
            background-size: 20px auto;
            padding-left: 5.2rem;
        }
    }
}
